.m-modal {
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 550px;
  min-height: 400px;
  /*max-width: 800px;*/
  padding: 25px;
  border: 1px solid #000;
  background-color: #fff;
}

.m-modal .default-title {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;
  font-size: 24px;
  font-weight: bold;
}

.m-modal .default-title > span {
  cursor: pointer;
  display: inline-block;
  margin: 12px 0 0 15px;
  float: right;
  font-size: 12px;
  text-decoration: underline;
  color: #0066CC;
}

.m-modal .default-tab {
  margin-top: 15px;
}

.m-modal .default-tab > .btns {
  cursor: pointer;
  position: relative;
  z-index: 9;
  margin-left: 15px;
}

.m-modal .default-tab > .btns > li {
  position: relative;
  z-index: 2;
  top: 1px;
  float: left;
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #000;
  border-right: 0;
  background-color: #ccc;
}

.m-modal .default-tab > .btns > li.active {
  border-bottom-color: #fff;
  background-color: #fff;
}

.m-modal .default-tab > .btns > li::before {
  content: '';
  position: absolute;
  z-index: 11;
  bottom: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 0 0 13px;
  border-color: transparent transparent transparent #ccc;
}

.m-modal .default-tab > .btns > li::after {
  content: '';
  position: absolute;
  z-index: 10;
  top: -1px;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 0 15px;
  border-color: transparent transparent transparent #000000;
}


.m-modal .default-tab > .btns > li.active::before {
  bottom: -1px;
  border-width: 24px 0 0 14px;
  border-color: transparent transparent transparent #fff;
}

.m-modal .default-tab > .btns > li.active::after {
  border-color: transparent transparent transparent #000;
}

.m-modal .default-tab > .contents {
  position: relative;
  z-index: 1;
  padding: 15px;
  border: 1px solid #000;
}

.m-modal .no-logged-content {
  font-size: 14px;
}

.m-modal .no-logged-img {
  vertical-align: top;
  margin-right: 30px;
}

 .m-modal .no-logged-content > .go-registered {
   display: inline-block;
   padding: 8px 25px;
   margin-top: 15px;
   background-color: green;
   color: #fff;
 }

.m-modal .has-registered {
  margin-top: 15px;
  font-size: 14px;
}

.m-modal .has-registered > a {
  padding: 0 5px;
  color: #0066CC;
}
