.m-list {
  width: 724px;
  margin-left: 30px;
}

.m-item {
  overflow-y: auto;
  margin-bottom: 10px;
}
.m-item > a {
  display: block;
  line-height: 2;
  font-size: 16px;
  color: #2189C0;
  vertical-align: middle;
  padding: 15px 0;
  border-bottom: 1px solid #EEEEEE;
}
.m-item-img {
  float: right;
  vertical-align: text-bottom;
}
.m-item > a > .u-icon {
  margin-right: 10px;
}
.m-item-num {
	float: right;
	color:#ABAAAA;
	padding-left:15px;
}